/* Users Management System (NFQ Front-end advanced challenge)
 * Author: Lukas Valatka
 */

// Libraries
@import "libs/normalize";

// Base (stylesheets without dependencies)
@import "base/colors";
@import "base/fonts";
@import "base/positioning";

// Modules
@import "modules/media-queries";

// Partials
@import "partials/buttons";
@import "partials/header";
@import "partials/containers";

body {
  color: #222;
}

.content {
  max-width: 960px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 30px;
  padding-right: 30px;
  box-sizing: border-box;
}