.action-button {
  background: $color-white;
  padding: 10px;
  border: 1px solid $color-red;
  color: $color-red;
  cursor: pointer;
  transition: background-color 0.1s ease-out;

  &:hover {
    background: $color-red;
    color: $color-white;
  }
}

.action-button.clicked {
  background: $color-red;
  color: $color-white;
}

.action-button--success {
   background: $color-white;
   color: $color-green;
   border: 1px solid $color-green;

   &:hover {
    background: $color-green;
    color: $color-white;
   }
}

.action-button--success.clicked {
  background: $color-green;
  color: $color-white;  
}